/*RESET*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*UTILS*/
.container {
	margin: 0 auto;
	padding: 0 10px;
	width: 1000px;
	max-width: 100%;
}
a {
	text-decoration: none;
	color: black;
}
/*header*/
.page-header {
	background-color: rgb(142, 171, 190);
	padding: 30px 50px;
	display: flex;
	justify-content: center;
}

.nav {
	display: flex;
	background-color: rgb(185, 173, 64);
	justify-content: space-between;
	border: black dashed;
	padding: 15px;
}
.logo {
	border-right: black dashed;
}

/*main*/
.first-section {
	display: flex;
	background-color: blue;
	justify-content: center;
	height: 300px;
	align-items: center;
}
.first-box {
	background-color: pink;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 200px;
	width: 500px;
	border: black dashed;
}
.second-section {
	background-color: white;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.second-box {
	background-color: lightblue;
	width: 200px;
	height: 400px;
	border: black dashed;
}

.third-box {
	background-color: salmon;
	width: 200px;
	height: 400px;
	border: black dashed;
}
