/*RESET*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: ;
}

/*UTILS*/
a {
	text-decoration: none;
	color: black;
}

/*HEADER*/
.page-header {
	background-color: rgb(172, 214, 228);
	padding: 20px 80px;
}

.container {
	margin: 0 auto;
	width: 1000px;
	max-width: 100%;
	display: flex;
	background-color: #d7a522;
	justify-content: space-between;
}

.logo {
	border: black dashed;
	width: 20%;
	padding-left: 5px;
}
.link {
	width: 60%;
	text-align: center;
	border: black dashed;
}
.login {
	width: 20%;
	border: black dashed;
	text-align: end;
	padding-right: 5px;
}

/*MAIN*/
.first-section {
	background-color: rgb(1, 0, 136);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
}
.pink-box {
	background-color: rgb(236, 129, 235);
	height: 300px;
	width: 700px;
	border: black dashed;
}
.second-section {
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
}
.container-box {
	width: 1000px;
	max-width: 100%;
	display: flex;
	justify-content: center;
}

.first-box {
	border: black dashed;
	height: 400px;
	width: 60%;
	background-color: rgb(30, 143, 247);
}

.second-box {
	background-color: rgb(249, 191, 203);
	height: 400px;
	width: 40%;
	border: black dashed;
}

.third-section {
	background-color: rgb(210, 210, 210);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
}

.even-row {
	display: flex;
	flex-direction: row-reverse;
}

.green-box {
	background-color: rgb(34, 136, 34);
	height: 400px;
	width: 100%;
	border: black dashed;
}

/*FOOTER*/

.footer-background {
	background-color: rgb(34, 38, 41);
	height: 700px;
	padding: 10px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-container {
	width: 1000px;
	max-width: 100%;
	display: flex;
	justify-content: center;
	border-bottom: white solid;
	height: 550px;
}

.first-footer-box {
	background-color: rgb(238, 128, 129);
	height: 500px;
	width: 30%;
	border: black dashed;
}

.second-footer-box {
	display: flex;
	justify-content: center;
	background-color: rgb(31, 175, 166);
	height: 500px;
	width: 70%;
}

.footer-item {
	width: 25%;
	height: 500px;
	border: white dashed;
}

.footer-box {
	display: flex;
	justify-content: space-between;
	width: 1000px;
	max-width: 100%;
	background-color: rgb(126, 253, 210);
	margin-top: 30px;
}

.footer-nav {
	border: black dashed;
	background-color: rgb(245, 179, 193);
	padding: 10px;
	margin: 15px 0;
}
