/*RESET*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: ;
}

/*UTILS*/
.container {
	margin: 0 auto;
	padding: 0 10px;
	width: 1000px;
	max-width: 100%;
}

a {
	text-decoration: none;
	color: black;
}
/*HEADER*/
.page-header {
	background-color: rgb(172, 214, 228);
	padding: 20px 80px;
}

.container {
	display: flex;
	background-color: #d7a522;
	justify-content: space-between;
	border: black dashed;
	padding: 15px;
}

.logo {
	border-right: black dashed;
	width: 20%;
}
.link {
	width: 60%;
	text-align: center;
}
.login {
	width: 20%;
	border-left: black dashed;
	text-align: end;
}

/*MAIN*/
.first-section {
	display: flex;
	background-color: rgb(1, 0, 136);
	justify-content: center;
	height: 300px;
	align-items: center;
}
.first-box {
	background-color: rgb(236, 129, 235);
	height: 240px;
	width: 600px;
	border: black dashed;
}
.second-section {
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
}

.second-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
}

.second-box-item {
	background-color: rgb(30, 143, 247);
	height: 320px;
	border: black dashed;
	width: 60%;
}

.third-box-item {
	background-color: rgb(249, 191, 203);
	height: 320px;
	border: black dashed;
	width: 40%;
}

.third-section {
	background-color: rgb(210, 210, 210);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
}
.box-four {
	background-color: rgb(249, 191, 203);
	width: 200px;
	height: 320px;
	border: black dashed;
}

.box-five {
	background-color: rgb(30, 143, 247);
	width: 35%;
	height: 320px;
	border: black dashed;
}

.box-six {
	background-color: rgb(30, 143, 247);
	height: 320px;
	width: 35%;
	border: black dashed;
}

.box-seven {
	background-color: rgb(249, 191, 203);
	height: 320px;
	width: 20%;
	border: black dashed;
}

.box-eight {
	background-color: rgb(34, 136, 34);
	height: 320px;
	width: 55%;
	border: black dashed;
}
